body {
  margin: 0px;
}

.headerContainer {
  border: 1px red solid;
  display: flex;
}

.headerLeft {
  border: 1px blue solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerImg {
  width: 27px;
  height: 27px;
}

.headerTitle {
  font-size: 1.63625rem;
  font-family: 'Nunito Sans', sans-serif;
  color: #6e7891;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -0.04em;
  margin-bottom: 0;
}