body {
  margin: 0px;
  height: 1100px;
  background-color: #eff2f6;
  position: relative;
}

p {
  margin: 0px;
  font-family: 'Nunito Sans', sans-serif;
}

.headerContainer {
  border: 1px #cbd0dd solid;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 200;
  background-color: white;
}

.headerLeft {
  /* border: 1px blue solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerImg {
  width: 27px;
  height: 27px;
  margin-left: 25px;
}

.headerTitle {
  font-size: 1.63625rem;
  font-family: 'Nunito Sans', sans-serif;
  color: #6e7891;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -0.04em;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 5px;
}

.sidebarContainer {
  border: 1px #cbd0dd solid;
  width: 60px;
  height: 100%;
  z-index: 100;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.sidebar-link {
  width: 100%;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar-link img {
  height: 16px;
}

.line {
  width: 55%;
  border: .5px rgb(234, 234, 234) solid;
  margin-top: 18px;
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
  margin-left: 5px;
  margin-right: 5px;
  width: 70%;
  border-radius: 10px;
  cursor: pointer;
}

.contentContainer {
  /* border: 1px blue solid; */
  margin-left: 62px;
  margin-top: 65.41px;
  position: absolute;
  top: 0;
  width: 96%;
  height: 100%;
}

.contentArea {
  margin: 62px 40px 0px 40px;
}

.contentTitle {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  margin: 0px 0px 32px;
  font-size: 28px;
  color: #141824;
}

.contentMid {
  /* border: 1px red solid; */
  display: flex;
  justify-content: space-between;
  position: relative;
}

.contentLeft {
  border: 1px blue solid;
  height: 507px;
  width: 507px;
}

.contentImg {
  object-fit: cover;
  object-position: center;
}

.contentRight {
  /* border: 1px pink solid; */
  position: absolute;
  height: 100vh;
  width: 750px;
  right: 5px;
  top: -20px;
  display: flex;
  flex-direction: column;
}

.titleRight {
  margin-left: 70px;
  border-top: 1px rgb(198, 198, 198) solid;
  border-bottom: 1px rgb(198, 198, 198) solid;
}

.contentRightLine {

}

.contentRightTitle {
  font-family: 'Nunito Sans', sans-serif;
  color: #141824;
  font-weight: bold;
  margin: 12px 0px 12px 0px;
  font-size: 20px;
}

.rightContent {
  display: flex;
  /* border: 1px skyblue solid; */
  width: 69px;
  justify-content: center;
  align-items: center;
}

.imgRight {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swatchbookContainer {
  margin-top: 40px;
  border-radius: 50%;
  border: 1px rgb(223, 223, 223) solid;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swatchbookContainer2 {
  border-radius: 50%;
  border: 1px rgb(223, 223, 223) solid;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swatchbookContainer:hover {
  background-color: rgb(228, 228, 228);
  border: 1px rgb(207, 207, 207) solid;
}

.swatchbookContainer2:hover {
  background-color: rgb(228, 228, 228);
  border: 1px rgb(207, 207, 207) solid;
}

.swatchbook {
  height: 12px;
}

.lineVerticle {
  border: .8px rgb(206, 206, 206) dashed;
  width: 0px;
  height: 200px;
}