body {
  margin: 0px;
  height: 3000px;
  background-color: #eff2f6;
}

p {
  margin: 0px;
}

.headerContainer {
  border: 1px #cbd0dd solid;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 200;
  background-color: white;
}

.headerLeft {
  /* border: 1px blue solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerImg {
  width: 27px;
  height: 27px;
  margin-left: 25px;
}

.headerTitle {
  font-size: 1.63625rem;
  font-family: 'Nunito Sans', sans-serif;
  color: #6e7891;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -0.04em;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 5px;
}

.sidebarContainer {
  border: 1px #cbd0dd solid;
  width: 60px;
  height: 100%;
  z-index: 100;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.sidebar-link {
  width: 100%;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar-link img {
  height: 16px;
}

.line {
  width: 55%;
  border: .5px rgb(234, 234, 234) solid;
  margin-top: 18px;
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
  margin-left: 8px;
  margin-right: 5px;
  width: 70%;
  border-radius: 10px;
  cursor: pointer;
}