body {
  margin: 0px;
}

.headerContainer {
  border-bottom: 1px lightgray solid;
  display: flex;
  align-items: center; /* NOT WORKING */
  padding: 0 20px;
  background-color: #fafafa;
}

.headerCenter {
  display: flex;
}

.headerImg {
  width: 27px;
  height: 27px;
}

.headerTitle {
  font-size: 1.63625rem;
  font-family: 'Nunito Sans', sans-serif;
  color: #6e7891;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -0.04em;
  margin-bottom: 0;
}