<!DOCTYPE html>
<html>
  <head>
    <title>Cancer Page</title>
    <link rel="stylesheet" href="../static/css/cancer-page.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700&display=swap" rel="stylesheet">
  </head>
  <body>

    <!-- Header -->
    <div class="headerContainer">

      <div class="headerLeft">
        <img class="headerImg" src="../images/Seal_of_University_of_California,_Berkeley.svg.png" alt="img">
      </div>

      <div class="headerTitle">
        <p>Cancer Trends in America</p>
      </div>

      <div class="light/darkModes">

      </div>

    </div>

    <!-- Sidebar -->
    <div class="sidebarContainer">
      <div class="sidebar-link">
        <img src="../images/Feather-core-pie-chart.svg" alt="">
        <!-- <div>Home</div> -->
      </div>

      <div class="line"></div>
    
      <div class="sidebar-link">
        <img src="" alt="">
        <!-- <div>Title</div> -->
      </div>
    
      <div class="sidebar-link">
        <img src="" alt="">
        <!-- <div>Title</div> -->
      </div>
    
      <div class="line"></div>

      <div class="sidebar-link">
        <img src="" alt="">
        <!-- <div>Title</div> -->
      </div>
    
      <div class="sidebar-link">
        <img src="" alt="">
        <!-- <div>Title</div> -->
      </div>

      <div class="line"></div>
    
      <div class="sidebar-link">
        <img src="" alt="">
        <!-- <div>Title</div> -->
      </div>
    </div>

    <!-- Content -->
    <div class="contentContainer">
      <div class="contentArea">

        <div class="contentTop">
          <p class="contentTitle">Title Name</p>
        </div>

        <div class="contentMid">
          <div class="contentLeft">
            <img class="contentImg" src="" alt="">
            Image goes here. Image should "cover" in container and centered.
            Go to ".contentImg" in "cancer-page.css" to edit. 
          </div>

          <div class="contentRight">
            bla
          </div>
        </div>
        

      </div>
      
    </div>
    
  </body>
</html>