<!DOCTYPE html>
<html>
  <head>
    <title>Cancer Page</title>
    <link rel="stylesheet" href="../static/css/cancer-page.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- Header -->
    <div class="headerContainer">
      
      <div class="headerLeft">
        <img class="headerImg" src="../images/Seal_of_University_of_California,_Berkeley.svg.png" alt="img">
      </div>

      <div class="headerTitle">
        <p>Cancer Trends in America</p>
      </div>

      <div class="modes">

      </div>

    </div>
    
  </body>
</html>